<h1>Edit <%= APP_CONFIG['tension']['software_name'] %> extension <%= @extension.name %></h1>

<%= error_messages_for :extension %>

<% form_for @extension, :url => extension_path(@extension) do |f| -%>
  <%= render :partial => 'form', :locals => { :f => f } %>
<div class="column span-24">
  <p><%= submit_tag "Edit #{APP_CONFIG['tension']['software_name']} Extension" %> o <%= link_to 'Cancel', my_extensions_extensions_url %></p>
</div>

<% end %>

