<h1>Add <%= APP_CONFIG['tension']['software_name'] %> Version</h1>

<%= error_messages_for :extension %>

<% form_for @version, :url => admin_versions_path do |f| -%>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div class="column span-24">
    <p><%= submit_tag "Add #{APP_CONFIG['tension']['software_name']} Version" %> or <%= link_to 'Cancel', admin_versions_url %></p>
  </div>
<% end %>	
