<h1>Extension Authors</h1>



<% @users.each do |author| %>

  <div class="column span-7" id='author'>  
	<div class="column span-1"
  	  <%= gravatar_for(author, :size => 30, :class => 'gravatar-mini') %>
	</div>
	<div class="column span-6 last">
    <strong><%= link_to author.name, user_path(author) %></strong><br/>
    <i>Registered since <%= distance_of_time_in_words(Time.now, author.created_at) %></i><br/>
    <%= author.extensions_count %> extensions
    </div>

</div>

<% end %>



<%= will_paginate @authors %>
	
