
<div class="column span-12  first">
  <p><%= label_tag 'name' %><br/>
  <%= f.text_field :name %></p>

  <p><%= label_tag 'login' %><br/>
  <%= f.text_field :login %></p>

  <p><%= label_tag 'email' %><br/>
  <%= f.text_field :email %></p>

  <p><%= label_tag 'password' %><br/>
  <%= f.password_field :password %></p>

  <p><%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
  <%= f.password_field :password_confirmation %></p>
</div>

<div class="column span-12  last">
  <p><%= label_tag 'roles_ids', 'User Roles' %>
	  <p>
	  <% @roles.each do |role| -%>
	    <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %> <%= role.description %><br/>
	  <% end -%>
	  </p>	
</div>